body{
    height: 100%;
    font-size: 3.5vw;
    background-image: url("https://images.unsplash.com/photo-1552667466-07770ae110d0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-image: url("https://images.unsplash.com/photo-1547992454-782f6b4c986c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-size: auto;
    background-repeat: no-repeat;
}


input, button{
    border:none;
    background: none;
    color: inherit;
    outline: inherit;
    outline-color: inherit;
}

#teamBlock{
    font-size: 30px;
    font-size: 3.5vw;

}


#team1{
 color: red;
}


#title{
    text-align: center;
    font-style: oblique;
}
