body{
    font-size: 3.5vw;
}


input, button{
    border:none;
    background: none;
    color: inherit;
    outline: inherit;
    outline-color: inherit;
}

#teamBlock{
    font-size: 30px;
    font-size: 3.5vw;

}


#team1{
 color: red;
}


#title{
    text-align: center;
    font-style: oblique;
}